.zona1 {
    width: 95%;
    height: auto;
    background: rgb(51, 51, 51);
    margin: 0 auto;
    padding: 20px;
    margin-top: 10px;
    color: #000000;
    border-radius: 5px;
    box-shadow: 7px 13px 37px #000000;
    justify-content: center;
    text-align: center;
}

.card {
    display: block;
    color: aliceblue;
}
.card1{
    background-color: black;
}

.card-img-top {
    border-radius: 5px;
}


.container {
    border-radius: 5px;
}

