<div class="zona1">
    <form (ngSubmit)="onLogin()">
        <h1 style="color: rgb(205, 123, 0); text-align: center;">Login Rick y Morty</h1>
        <br />
        <div class="mb-3">
            <label for="username" class="form-label" style="color: aliceblue;">Username</label>
            <input
              type="text"
              class="form-control"
              id="username"
              [(ngModel)]="username"
              name="username"
              required
            />
        </div>
        <div class="mb-3">
            <label for="password" class="form-label" style="color: aliceblue;">Password</label>
            <input
              type="password"
              class="form-control"
              id="password"
              [(ngModel)]="password"
              name="password"
              required
            />
        </div>

        <button type="submit" class="btn btn-primary">Login</button>
        <p *ngIf="errorMessage" style="color: red; text-align: center;">{{ errorMessage }}</p>
    </form>
</div>
